* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.TodoItems {
  width: 100%;
}

.TodoItems .TodoItems-content {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  padding: 10px;
  border-bottom: 2px solid#000;
  font-size: 1.5em;
  font-weight: 600;
  position: relative;
}

.TodoItems p {
  width: 75%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-transform: capitalize;
}

.TodoItems i {
  font-size: 1.5em;
  padding: 0;
  margin: 0;
  cursor: pointer;
  border: none;
  margin: 5px;
}

.TodoItems-Done {
  text-decoration: line-through;
  opacity: 0.5;
}

.Button-Done {
  opacity: 0.5;
}

.TodoItems-content p,
.TodoItems-content span {
  position: relative;
}

.InputContent {
  width: 65%;
  border: none;
  font-size: 1.1em;
  text-transform: capitalize;
  outline: none;
  border-bottom: 2px solid#000;
  padding: 0 10px 0 10px;
  font-weight: 600;
  animation: borderBottom 1s ease-in-out;
}

.Edit-content {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  padding: 10px;
  border-bottom: 2px solid#000;
  font-size: 1.5em;
  font-weight: 600;
}

.Edit-content input,
.Edit-content span {
  position: relative;
}

.slide-in {
  animation: in 1s ease-in-out;
}

.slide-out > p,
.slide-out > span {
  animation: out 1s ease-in-out;
}

@keyframes in {
  from {
    left: -50%;
    opacity: 0;
  }
  to {
    left: 0%;
    opacity: 1;
  }
}

@keyframes out {
  from {
    right: -50%;
    opacity: 0;
  }
  to {
    right: 0%;
    opacity: 1;
  }
}

@media (max-width: 1000px) {
  .TodoItems p {
    width: 50%;
  }

  .InputContent {
    width: 50%;
  }
}
