.Footer {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.Footer .amount-item {
  margin: 15px 30px;
}

.Footer .amount-item p {
  opacity: 0.8;
}

.Footer .select-item {
  display: flex;
  /* position: relative;
  left: 13%; */
}

.Footer .select-item p {
  margin: 20px 10px;
  opacity: 0.7;
  padding: 7px 10px;
  cursor: pointer;
  font-weight: 500;
}

.Footer .select-item p.active {
  border: 1px solid #000;
  opacity: 1;
  border-radius: 5px;
  width: fit-content;
}
